@import "react-toastify/dist/ReactToastify.css";
@import "react-international-phone/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  height: max-content;
  min-height: 100vh;
  overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.link {
  transition: transform 0.3s ease;
}

.link:hover .hoverEffect {
  transform: scale(1.1);
}

.hoverEffect {
  display: inline-block;
  transform-origin: center;
}

.hoverButtonEffect {
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}
