@import "react-toastify/dist/ReactToastify.css";
@import "react-international-phone/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  height: max-content;
  min-height: 100vh;
  overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// a::before {
//   content: '';
//   position: absolute;
//   width: 100%;
//   height: 4px;
//   border-radius: 4px;
//   background-color: #FFCC10;
//   bottom: 0;
//   left: 0;
//   transform-origin: right;
//   transform: scaleX(0);
//   transition: transform .3s ease-in-out;
// }

// a:hover::before {
// transform-origin: left;
// transform: scaleX(1);
// }
